<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Absa Online Banking">

	<parameter name="accountNumber" value="4096492154" />
	<parameter name="pinNumber" value="10024" />

	<test name="Absa Online Banking Test">

		<classes>

			<class name="co.za.absa.Test.LoginPageTest" />

		</classes>

	</test>

</suite>