<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Absa Online Banking">

	<parameter name="accountNumber" value="9050955490" />
	<parameter name="pinNumber" value="55490" />
	<parameter name="passphrase" value="password1" />

	<test name="Absa Online Banking Test">

		<classes>
		
			<class name="co.za.absa.Test.LoginPageTest" /> 
			<class name="co.za.absa.Test.SplitPasswordPageTest" />

		</classes>

	</test>

</suite>